html {
  font-size: 16px;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

.navbar {
  background-color: #f8f8f8;
}

.navbar-brand {
  color: #757575;
}

.form-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__body {
    margin: 0 auto;
    max-width: 55%;
    min-height: 30%;
    padding: 2rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    color: #757575;
  }
}

.btn.login-button {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 0.1875rem solid #ff69aa;
  align-self: center;
  color: #ff69aa;
  min-width: 100%;
  &:hover {
    color: white;
    background-color: #ff69aa;
    border-color: #ff69aa;
  }
  &:active {
    background-color: #e45090;
    border-color: #e45090;
    color: white;
  }
}

.floating-button {
  position: fixed;
  top: 5rem;
  left: 2rem;
  min-width: 3rem;
  z-index: 1;
}

.home {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  &__body {
    margin: 0 auto;
  }
}

.new-category {
  flex: 1 1 auto;
  &__body {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
  }
  &__header {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: #757575;
  }
  &__form {
    display: flex;
    flex-direction: column;
    max-width: 65%;
  }
}

.product {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  &__body {
    padding: 2rem;
    margin: 0 auto;
    min-width: 75%;
  }
  &-header {
    text-align: center;
    color: #757575;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
  }
  &-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 90%;
      margin: 0 auto;
      padding: 0.5rem;
    }
  }
}

.products{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  &__search{
    margin: 0 auto;
    min-width: 60%;
  }
  &__page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem;
    padding: 1rem;
    justify-content: center;
  }
}
